<template>
  <div>
    <h1 class="display-1">Espace perso DUFS</h1>
    <address>
  </address>
  </div>
  <div class="text-center section">
    <h2 class="h2">Toto</h2>
    <h2 class="h2">Emploi du temps</h2>
    <v-calendar
      class="custom-calendar max-w-full"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
    >
      <template v-slot:day-content="{ day, attributes }">
        <div class="flex flex-col h-full z-10 overflow-hidden">
          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
          <div class="flex-grow overflow-y-auto overflow-x-auto">
            <p
              v-for="attr in attributes"
              :key="attr.key"
              class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1"
              :class="attr.customData.class"
            >
              {{attr.customData.matinOuAprem}}:<br/> <b>{{ attr.customData.title }}</b>>
              <template v-if="role=='Enseignant'"><br/>
              <p style="justify-content: space-around; padding: 10px;">
                <button class = "icon" style="float: left;" @click="toggleToEdit(attr.key)">&#9998;</button>
                <button class = "icon" style="float: right;" @click="deleteCours(attr.key)">&#10005;</button>
              </p>
              </template>
            </p>
          </div>
        </div>
      </template>
    </v-calendar>
  </div>
    <!-- <button class = "btn btn-danger" @click="load_attributes()">Load attributes</button> -->
  <template v-if="role=='Enseignant'">
    <div class = "form-group">
      <template v-if="!editMode">
        <h3 class="margin30">Formulaire d'ajout</h3>
        <br>
          <select style= "margin-left: 20px; margin-right: 20px;" v-model="nomCours">
            <option selected="selected" disabled="disabled" value="">Matière</option>
            <option value="Front - TL - REACT +">Front - TL - REACT +</option>
            <option value="Back - EH - Django">Back - EH - Django</option>
            <option value="Hackathon #3">Hackathon #3</option>
            <option value="Hackathon #2">Hackathon #2</option>
            <option value="Hackathon #1">Hackathon #1</option>
            <option value="Cult - JP - communication">Cult - JP - communication</option>
            <option value="Cloud - PR">Cloud - PR</option>
            <option value="Cult -SM - Anglais">Cult -SM - Anglais</option>
            <option value="Hackathon #4">Hackathon #4</option>
            <option value="Cult - JP - Internet pour Fullstack">Cult - JP - Internet pour Fullstack</option>
            <option value="Unix - JC - cmd base">Unix - JC - cmd base</option>
            <option value="Algo - XC - Python">Algo - XC - Python</option>
          </select>

          <input
            type="date"
            v-model="dateCours"
            placeholder="DD Mon YYYY"
          >
          <select v-model="matinOuAprem">
            <option selected="selected" disabled="disabled" value="">Choisir</option>
            <option value="Matin">Matin</option>
            <option value="Après-midi">Après-midi</option>
          </select>
          <br>
        <hr>
      <button class = "btn btn-danger" @click="createCours()">Ajouter cours</button>
      </template>
      <template v-else>
        <h3 class="margin30">Formulaire d'édition</h3>
        <br>
          <select style= "margin-left: 20px; margin-right: 20px;" v-model="nomCours">
            <option selected="selected" disabled="disabled" value="">Matière</option>
            <option value="Front - TL - REACT +">Front - TL - REACT +</option>
            <option value="Back - EH - Django">Back - EH - Django</option>
            <option value="Hackathon #3">Hackathon #3</option>
            <option value="Hackathon #2">Hackathon #2</option>
            <option value="Hackathon #1">Hackathon #1</option>
            <option value="Cult - JP - communication">Cult - JP - communication</option>
            <option value="Cloud - PR">Cloud - PR</option>
            <option value="Cult -SM - Anglais">Cult -SM - Anglais</option>
            <option value="Hackathon #4">Hackathon #4</option>
            <option value="Cult - JP - Internet pour Fullstack">Cult - JP - Internet pour Fullstack</option>
            <option value="Unix - JC - cmd base">Unix - JC - cmd base</option>
            <option value="Algo - XC - Python">Algo - XC - Python</option>
          </select>

          <input
            type="date"
            v-model="dateCours"
            placeholder="DD Mon YYYY"
          >
          <select v-model="matinOuAprem">
            <option selected="selected" disabled="disabled" value="">Choisir</option>
            <option value="Matin">Matin</option>
            <option value="Après-midi">Après-midi</option>
          </select>
          <br>
        <hr>
        <button class = "btn btn-danger" @click="updateCours(this.id)">Mettre à jour cours</button>

      </template>
  </div>
  </template>
</template>

<script>
import app from '@/feathers'

export default {
  async mounted () {
    await this.refresh()
    console.log('buffer list:', this.listeCours)
    console.log('Liste cours chargée par V-Calendar:', this.attributes)
    console.log('role:', this.role)
  },

  data () {
    // const month = new Date().getMonth()
    // const year = new Date().getFullYear()
    return {
      masks: {
        weekdays: 'WWW'
      },
      listeCours: [],
      attributes: [],
      id: undefined,
      nomCours: '',
      dateCours: 0,
      matinOuAprem: '',
      editMode: true,
      role: 'Enseignant'
    }
  },
  methods: {
    async createCours () {
      const newCours = await app.service('cours-2').create({
        name: this.nomCours,
        date: Date.parse(this.dateCours),
        matinOuAprem: this.matinOuAprem
      })
      // console.log("Date en sortie de champ:",this.dateCours.toString())
      // console.log('Heure:', this.heureCours)
      // console.log('Date et heure concatenees:', this.dateCours.toString().concat(this.heureCours))
      console.log(newCours)
      // this.listeCours.push (newCours)
      this.refresh()
      this.clearForm()
      // console.log('Liste cours:', this.listeCours)
    },
    async deleteCours (key) {
      await app.service('cours-2').remove(key)
      this.refresh()
      // console.log('Liste cours:', this.listeCours)
    },
    async updateCours (key) {
      await app.service('cours-2').patch(key, {
        name: this.nomCours,
        date: Date.parse(this.dateCours),
        matinOuAprem: this.matinOuAprem
      })
      this.editMode = false
      this.refresh()
      // console.log('Liste cours:', this.listeCours)
    },
    async toggleToEdit (key) {
      this.editMode = true
      console.log('key:', key)
      console.log('Avant plantage?!?')
      const coursAEditer = (await app.service('cours-2').find({ query: { id: key } }))[0]
      console.log('Ah ben non...')
      console.log(coursAEditer)
      this.nomCours = coursAEditer.name
      this.dateCours = (JSON.stringify(new Date(coursAEditer.date))).substring(1, 11)
      this.matinOuAprem = coursAEditer.matinOuAprem
      this.id = coursAEditer.id
    },
    async refresh () {
      this.listeCours = await app.service('cours-2').find({})
      console.log('buffer list (loaded data):', this.bufferList)
      this.attributes = this.listeCours.map(function ({ id, name, date, matinOuAprem }) {
        return {
          key: id,
          customData: {
            title: name,
            matinOuAprem: matinOuAprem
          },
          dates: new Date(date)
        }
      })
      console.log('Attributes:', this.attributes)
    },

    clearForm () {
      console.log('Clearing form')
      this.nomCours = ''
      this.dateCours = 0
    }
  }
}
</script>

<style lang="postcss" >

h3.margin30 {
  margin: 30px;
}

.icon {
    font-size:x-large;
}

select {
  margin-left: 20px;
  margin-right: 20px;
}

.fa-check-square {
    color: forestgreen;
    font-size:xx-large;
}
.fa-plus-circle{
    color: rgb(20, 198, 243);
    font-size:xx-large;
}
.fa-trash-alt{
    color:crimson;
    font-size:large;}

.day-label{

  color: #56869e;
  margin-left: 5%;
}
.vc-container{

 width: 60%;
 box-shadow: 2px 2px 2px rgb(105, 105, 105);
}

.text-xs{

  background-color: #56869e;
  border-radius: 5%;
  padding: 6%;
  color: white;
  margin:1%;
}

.vc-day{

  border: solid 0.1px rgb(221, 221, 221);
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
/deep/ .custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;

    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
</style>
