<template>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <div v-if="Object.keys(detailedTodo).length>0">
            <h2>Détail du todo</h2>
      Nom: {{detailedTodo.name}}<br/>
      Description: {{detailedTodo.description}}
      </div>

</template>
<script>
import app from '@/feathers'

export default {
  name: 'Detail',
  async mounted () {
    this.detailedTodo = (await app.service('todo').find({ query: { id: this.$route.params.id } }))[0]
  },
  data () {
    return {
      detailedTodo: {}
    }
  }
}
</script>
<style>
</style>
