<template>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <div>
    <h1 class="display-6">SOGETI test app</h1>
    <address>
  </address>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <h2>Liste des todos</h2>
      <ul>
        <li v-for="todo in todoList.filter(todo => !todo.is_checked)" :key="todo.id">
        <span><router-link :to="{ name: 'Detail', params: { id: todo.id.toString() }}">{{todo.name}}</router-link></span>
        <!-- <span style="padding:10px; color:grey">X</span> -->
        <button class = "icon" style="padding:10px; color:green" @click="checkTodo(todo.id, todo.name, todo.description)">&#9633;</button>
        <button class = "icon" style="padding:10px; color:red" @click="deleteTodo(todo.id)">&#10005;</button></li>
      </ul>
      <ul>
        <li v-for="todo in todoList.filter(todo => todo.is_checked)" :key="todo.id">
          <span style="color:grey; text-decoration: line-through;">{{todo.name}}</span>
        </li>
      </ul>
    </div>
    <div class="flex-item">
        <h3>Formulaire d'ajout</h3>
        <br>
        <input
            type="text"
            v-model="nomTodo"
            placeholder="mon todo"
          >
          <br>
                  <textarea
            v-model="descriptionTodo"
            placeholder="Description du todo"
            rows="5" cols="33"
          ></textarea>

        <hr>
      <button class = "btn btn-danger" @click="createTodo()">Ajouter todo</button>
  </div>
  </div>
</template>

<script>
// import Dashboard from '../components/Dashboard.vue'
import app from '@/feathers'

export default {
  name: 'Home',
  async mounted () {
    await this.refresh()
    console.log('Liste chargée au démarrage:', this.todoList)
  },
  data () {
    return {
      todoList: [],
      id: undefined,
      nomTodo: '',
      descriptionTodo: '',
      detailedTodo: {}
    }
  },
  methods: {
    async createTodo () {
      await app.service('todo').create({
        name: this.nomTodo,
        description: this.descriptionTodo,
        is_checked: false
      })
      this.refresh()
      this.clearForm()
      this.detailedTodo = {}
    },
    async deleteTodo (id) {
      await app.service('todo').remove(id)
      this.refresh()
    },
    async buildDetailedTodo (id) {
      this.detailedTodo = this.todoList.find(todo => todo.id === id)
    },

    async checkTodo (id, name, description) {
      await app.service('todo').patch(id, {
        name: name,
        description: description,
        is_checked: true
      })
      this.refresh()
    },
    async refresh () {
      this.todoList = await app.service('todo').find({})
    },

    clearForm () {
      console.log('Clearing form')
      this.nomTodo = ''
      this.descriptionTodo = ''
    }
  }
}
</script>

<style lang="css" >
  button.icon {
    font-size: 20px;
  }
  .flex-container {
    display: flex;
  }
  .flex-item {
    flex:5;
  }
</style>
